body {
  margin: 0;
  background-color: #111114;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.btn {
  color: #ceced0;
  background-color: #615e59;
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

.inpt:focus {
  box-shadow: 0 0 0 3px #4c5a70;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #111114;
}

::-webkit-scrollbar-thumb {
  background-color: #2D3132;
}
