p {
    color: #ffffff;
    padding: 0;
    margin: 0 0 0 8px;
}

.note-title {
    padding-top: 8px;
}

.note-summary {
    margin-top: 8px;
    opacity: 100%;
}

.note-created-time {
    margin-top: 10px;
    opacity: 80%;
}

.note {
    height: 100px;
    cursor: pointer;
}

hr {
    border: none;
    background-color: #4b4946;
    height: 1px;
}

.active {
    background-color: #615e59;
}

.bi-trash {
    float: right;
    margin-right: 5px;
}

.delete {
    float: right;
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
}
