.create-btn {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    width: 330px;
    height: 35px;
    background-color: #615e59;
    color: #ceced0;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

b {
    font-size: medium;
}

button:hover {
    opacity: 80%;
    transition-duration: 0.4s;
}

button:active {
    opacity: 100%;
    transition-duration: 0.1s;
}